
#logo-area{
    
    width: 80%;
    height: 100px;
}

#logo{
    height: fit-content;
    transition: width .6s;
    width: 100%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}
.sidebar {
    display: block;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#f1c8c8;
    overflow-x: hidden;
    transition: 0.6s;
    box-shadow: 0px 0px 15px 5px #d4c3c3;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #a25323 ;
    display: flex;
    transition: 0.9s;

}
  

.move-sidebar{
    position: absolute;
    top: 7%;
    left: 115px;
    font-size: 20px !important;
    border: none;
    color: #a25323;
    transition: left 0.5s;
    background-color: #f1c8c8;
}
.sidebar-category{
    height: fit-content;
    margin-top: 20%;
    font-size: 30px !important;
}
#content{
    margin-left: 150px;
    transition: margin-left .5s;

}

.item-sidebar{
    padding-top: 5%;
    display: none;
    padding-left: 10%;
    font-family:poppins,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.navbar-horizon{
    background-color:#f4e9e9;
}
.user-area{
    display: inline-flex;
    align-items: center;
}
.img-user-area{
    width: 30%;
}
.img-user{
    border-radius: 50%;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #f4e9e9;
}
.name-user{
    display: inline-flex;
    padding-right: 5px;
    font-family: sans-serif;
}
.features-header{
    padding-right: 3%;
    background-color: #f1f1f1;
}
.feature-buttons{

    display: flex;
    flex-direction: row;
}

.btn-add {
    width: max-content;
    padding: 15%;
    background-color:#00c851;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #00c851;
    box-shadow: 0px 2px 6px 4px  #e7e2e2;
    margin-left: 5%;
}
#add-icon {
    border: none;
    color: white;

}
#add-title {
    color: white;
    font-family: sans-serif;
}
.btn-support{
    width: max-content;
    padding: 19%;
    background-color:white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0px 2px 6px 4px #e7e2e2;
    margin-right: 5%;
}
#support-icon{
    border: none;
    font-size: 20px;
}
#support-title{
    font-family: sans-serif;
    color:#8e8e8e; 

}
.content-view{
    margin-top: 2%;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
      