#table-order-area{
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    box-shadow: 5px 0px 15px 5px #e1e1e1;
    padding: 2%;
}
#order-table{
    width: 100% !important;
}
#tb-title{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    color: #8d8787;
    font-family: sans-serif;
}
th{
    color: white;
    text-align: center !important;
    border: solid;
    background-color:#ffc3c3;
    border-color:#e1e1e1;
    border-width: 1px;
}
td{
    border-bottom-style: solid !important ;
    border-collapse: collapse;
    border-bottom-width: 1px !important;
    border-bottom-color:#d6d6d6 !important;
    text-align: center !important;
}
.order-item{
    text-align: center;
}
.btn-detail{
    color: white;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    border-style: solid ;
    border-width: 1px;
    border-color: white;
    background-color: #72bff5;
    padding: 0px 7px 2px 7px;
    border-radius: 12px;
}
.btn-next{
    color: white;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    border-style: solid ;
    border-width: 1px;
    border-color: white;
    background-color: #00c851;
    padding: 0px 7px 2px 7px;
    border-radius: 12px;
}
.btn-cancel{
    color: white;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    border-style: solid ;
    border-width: 1px;
    border-color: white;
    background-color:#e34b11;
    padding: 0px 7px 2px 7px;
    border-radius: 12px;
}
.btn-cancel-disabled{
    color: white;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    border-style: solid ;
    border-width: 1px;
    background-color:#bcbcbc;
    padding: 0px 7px 2px 7px;
    border-radius: 12px;
}
.btn-next-disabled{
    color: white;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    border-style: solid ;
    border-width: 1px;
    background-color:#bcbcbc;
    padding: 0px 7px 2px 7px;
    border-radius: 12px;
}
.modal-header{
    display: block !important;
}
.modal-title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn-modal-close{
    display: flex !important;
    margin-bottom: 1%;
    font-size: 10px !important;
}
.product-order-title{
    font-weight: bold;
    text-align: center;
}
.product-order-infor{
    text-align: center;
}
.customer-detail-infor{
    padding-left: 10%;
}
#label-product{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.form-label{
    padding-left: 1% !important;
    color: #999999;
}
.detail-item{
    margin-top: 1% !important;
    margin-bottom: 1%;
    border-style: solid ;
    border-color: white;
    border-bottom-color:#ebe9e9 ;
    border-width: 1px;
    padding-bottom: 1%;
}
.btn-confirm , .btn-delivered , .btn-received , .btn-cancel-order, .btn-order {
    background-color:#00c851 ;
    color: white;
    border-style: solid ;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 10px;
}
.footer-detail{
    margin-top: 2%;
    margin-bottom: 2%;
}

.error-notify{
    color: red;
    font-size: 12px;
}
#tb-selected-product-area{
    padding: 2%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-shadow:0px 3px 9px 6px #e1e1e1;
    margin-top: 2%;
    margin-bottom: 2%;
}
#product-tb{
    width: 100% !important;
}
.product-img{
    width: 100%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
.product-img-area{
    width: 50%;

}
.isVisible{
    display: none;
}
#list-product{
    width: 40%;
}
.dropdown-items{
    text-decoration: none;
    color: black;
}
.dropdown-line{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1% !important;
    margin-right: 1% !important;
}
.dropdown-line:hover{
    background-color: #ffc3c3;
}
#modal-add{
    z-index: 1051 !important;
}
#tb-selected-product{
    width: 100% !important;
}
option[value=""][disabled] {
    display: none;
  }
.btn-minus{
    background-color: white;
}
.btn-plus{
    background-color: white;
}
.product-quantity{
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}
.product-image{
    width: 50%;
    border-radius: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: white;

}
.btn-trash-product{
    color: red;
    font-size: 20px !important;
    background-color: white;
}
.txt-label{
    text-align: center;
    font-weight: bold;
}
#comment{
    width: 50% !important;
}
.payment-infor-area{
    margin-left: 5% !important;
    margin-right: 5% !important;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    padding: 2%;
}
.container-calendar{
    display: flex;
    justify-content: end;
    margin-bottom: 1%;
    margin-top: 1%;
}
.calendar-picker-area{
    width: fit-content;
    display: flex;
}
