.footer{
    background-color:#b4a298;
    padding: 3%;
}
.logo-footer-area{
    width: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
}
#logo-footer{
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
}

.col-infor{
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
.img-icon-footer-area{
    width: 15%;
    margin: auto;
    margin-bottom: 2%;
    
}
.img-icon-footer{
    width: 100%;
}
.footer-titles{
    color: white;
    font-weight: bolder;
    font-style: oblique;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.information-footer{
    text-align: center;
    margin-top: 3%;
}
.infor-item{
    margin-top: 4%;
    font-size: 20px;
    color: white;
    font-style: oblique;
}
.infor-item:link{
    text-decoration: none;
}
.infor-item:hover{
    color: #a25323;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .carousel-area{
        width: 1024px;
    }
    .logo-footer-area{
        width: 30%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 3%;
    }
  }
