.khung {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color : brown;
    margin: 0px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    height: 82vh;
    background-image: url(../../../image/background_login.jpg);
    background-size :cover;
    background-position-y: -250px;

}

.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width:35%;
}

.head{
    display: flex;
    justify-content: center; 
    align-items: center;
} 

.head > p{
    font-size: 35px;
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.head > button:hover{
    color :aliceblue;
    background : #BB0000;
    border : 2px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.form-group{
    border-bottom : 1px solid black;
    margin : 25px auto;
    width : 85%;
}

.form-group > input{
    border : 0px;
    width : 100%;
    background : transparent;
    outline: none;
    font-size: 14px;
    color : brown;
}

.form-submit{  
    margin-top: 30px;
    text-align: center;
}

.form-submit > input{
    height : 40px;
    width : 85%;
    border-radius: 10px;
    background : transparent;
    border-radius: 10px;
    transition : 0.2s;
    font-weight: bold;
    font-size: 16px;
    border-width: 3px;
}

.form-submit > input:hover{
    color : brown;
    border : 3px solid brown;
}

.back_login{
    margin-top: 20px;
    text-align: center;
}
