#logo-area{
    height: 150px;
    margin-right: 5%;
}

#logo{
    width: 100%;
    height: 100%;
}
.item-header{
    padding: 50px;
}
.nav-link{
    color: #a25323;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#icon-cart{
    font-size: 24px;
    vertical-align: -webkit-baseline-middle;
}
#form-search{
    position: absolute;
    top:5%;
    right: 5%;
}

#btn-search{
    border: none;
    background-color: white;
}

.carousel-area{
    height: 500px;
}
.carousel-inner{
    height: 500px;
}
.carousel-picture{
    height: 100%;
}
.pic-jewelry-container{
    margin: 5%;

}
.pic-jewelry-area{
    border: 1px;
    border-style: solid;
    margin-left: 3%;
    margin-right: 3%;
}
.pic-jewelry{
    width: 100%;
    height: 70%;
   
}

.body{
    position: relative;
    top: 1%;
}
