.address-area{
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid ;
    border-width: 5px;
    border-image-slice: 1;
    border-image-source:linear-gradient(to right bottom, #ddbfae, #eb6963);
    padding: 2%;
    box-shadow: 2px 1px 7px 4px rgb(255 169 169);
}
#txt-address{
    margin-left: 1%;
    color:#a25323;
    font-weight: bold !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 20px !important;
}
.location-icon{
    color:#a25323;
    font-weight: bold !important;
    font-size: 20px !important;
}
.order-picture{
    width: 100%;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
.product-area{
    padding: 1%;
    margin: 2%;
    border: solid;
    border-radius: 5px;
    border-color: #fff7f2;
    border-width: 1px;
    background-color: #fff7f2;
}
.order-item{
    display: flex !important;
    margin-top: 2% !important;
}
.th-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}
.item-price , .item-name , .item-quantity , .item-total-price {
    text-align: center;
    margin: auto;
}
.infor-items{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.note-shop{
    width: 80%;
    height: 50px;
    border: solid;
    border-radius: 5px;
    border-color: #ddbfae;
    border-width: 1px;
}

.payment-option{
    margin-top: 3%;
}
.txt-label{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
}
.btn-order-area{
    margin-top: 2%;
    display: flex;
    justify-content: end;
}
#btn-order{
    font-size: 18px;
    background-color:#a25323 ;
    color: white;
    border-style: solid ;
    border-color:#a25323 ;
    color: white; ;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 10px;
    box-shadow:0px 0px 10px 5px #c89681;
}
.btn-modal-change-address{
    background-color:#00c851 ;
    color: white;
    border-style: solid ;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 10px;
}
.btn-change-address{
    padding: 6px 12px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 10px 5px#e1e7f5;
    background-color: white;
}